@font-face {
    font-family: futura;
    src: url(./Futura-Bold.ttf);
}
@font-face {
    font-family: Gilroy;
    src: url(./Gilroy-Medium.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: #fff;
    background-color: #000;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #F7F7F7;
}

#nav {
    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
}

#nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links {
    padding: 10px;
}

#nav-part1 {
    /* background-color: RED; */
    height: 82px;
    overflow: hidden;
}

#nav-part1 svg {
    display: block;
}

#nav-part2 #links a {
    text-transform: uppercase;

    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0 20px;
}

#icons {
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}

#nav-part2 #icons i {
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
}

#cursor {
    height: 180px;
    width: 180px;
    background-color: rgba(224, 139, 189, 0.814);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);

}

#page1 {
    min-height: 100vh;
    /* background-color: aqua; */
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top: 20vh;

}

#page1 h1 {
    font-size: 15.8vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: -8px;
}

#video-container {
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position: relative;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play {
    padding: 3vw 2.2vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;

}

#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
}

#page2 .elem {
    height: 100%;
    width: 31%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

#page2 .elem .dets {
    height: 60px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    background-color: rgb(229, 156, 186);


}

#paragraphs{
    height: 60vh;
    width: 100%;
    display: flex;
}

#left{
    height: 100%;
    width: 50%;
    font-size: 1.6rem;
    font-family: futura;
    padding: 10vh 10vh;
}

#right{
    height: 100%;
    width: 50%;
    font-size: 1.2rem;
    font-family: sans-serif;
    padding: 11vh 20vh;
}

#right p{
    margin-bottom: 25px;
}

#right span{
    text-decoration: underline 1px solid black;
}

#page3 {
    min-height: 200vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child {
    height: 54vh;
    width: 38vw;
    /* background-color: red; */
    /* border: 2px solid #000; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#child1{
    display: block;
    font-family: sans-serif;
    text-align: center;
}

#child1 p{
    color: grey;
    padding-top: 10px;
}

#child2{
    display: block;
    font-family: sans-serif;
    text-align: center;
}

#child2 p{
    color: grey;
    padding-top: 10px;
}

#child3{
    display: block;
    font-family: sans-serif;
    text-align: center;
}

#child3 p{
    color: grey;
    padding-top: 10px;
}

#child4{
    display: block;
    font-family: sans-serif;
    text-align: center;
}

#child4 p{
    color: grey;
    padding-top: 10px;
}

#child5{
    display: block;
    font-family: sans-serif;
    text-align: center;
}

#child5 p{
    color: grey;
    padding-top: 10px;
}

#child6{
    display: block;
    font-family: sans-serif;
    text-align: center;
}

#child6 p{
    color: grey;
    padding-top: 10px;
}

.child img {
    height: 100%;
}

/*#radiopanel{
    height: 50vh;
    width: 95%;
    padding-left: 4%;
}

#linep{
    font-family: sans-serif;
    font-size: 0.9rem;
    padding: 0% 3%;
    margin-top: 15vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}*/

#page4{
    margin-top: 5vh;
    height: 80vh;
    width: 100%;
}

#page4 h1{
    font-size: 4.0rem;
    font-family: futura;
    padding: 5vh 10vh;
    margin-top: 10vh;
    text-align: center;
}

#page4 button{
    font-size: 1rem;
    font-family: sans-serif;
    padding: 16px;
    background-color: #000;
    color: white;
    border-radius: 30px;
    margin-left: 91vh;
    margin-top: 4vh;

}

#page4 p{
    font-size: 1rem;
    font-family: sans-serif;
    text-align: center;
    color: black;
    padding-top: 3vh;
}

#page5{
    height: 100vh;
    width: 100%;
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#coloms{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#col1{
    height: 80%;
    width: 30%;
    font-family: sans-serif;
}

#col1 h1{
    margin-bottom: 8vh;
}

#col1 p{
    margin-bottom: 4vh;
}

#col2{
    height: 100%;
    width: 30%;
}

#x1 img{
    height: 30%;
    width: 100%;
    object-fit: contain;
}

#col3{
    height: 100%;
    width: 30%;
}

#x2 img{
    height: 30%;
    width: 100%;
}

#page6{
    height: 100vh;
    width: 100%;
    margin-top: 10vh;
}

#email{
    font-family: sans-serif;
    border-bottom: 1px solid grey;
}

#email h1{
    margin-left: 5vw;
    font-size: 7vh;
}

#follow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#follow2 img{
    margin-top: 15vh;
}


@media (max-width:600px) {

    html,body{
        overflow-x: hidden;
    }
    #nav {
        /* height: 100px; */
        width: 100%;
        /* background-color: burlywood; */
        position: fixed;
        z-index: 99;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 15px;
    }

    #nav #nav-part2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    #links {
        padding: 10px;
        display: none;
    }

    #nav-part1 {
        /* background-color: RED; */
        height: 67px;
        overflow: hidden;
    }

    #nav-part1 svg {
        display: block;
        height: 67px;
        width: 80px;
    }
    #nav #twogoodlogo{
        height: 40px;
        margin-left: -20px;
    }

    #icons {
        padding: 7px;
        border-radius: 50px;
        background-color: #F7F7F7;
    }

    #nav-part2 #icons i {
        font-size: 15px;
        margin: 0 20px;
        font-weight: 100;
    }

    #page1 {
        /* background-color: red; */
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;

    }

    #page1 h1 {
        font-size: 15.5vw;
        letter-spacing: -3px;
    }

    #video-container {
        height: 25vh;
        margin-top: 3vw;
    }

    #video-container #play {
        padding: 9.5vw 7.2vw;
        font-size: 4.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        padding: 5vw 3vw;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: red; */
    }

    #page2 .elem {
        height: 100vh;
        width: 100%;
        /* background-color: red; */
        overflow: hidden;
        margin-bottom: 3vw;
    }

    #page2 .elem .dets {
        height: 40px;
        border-radius: 50px;
        width: 70%;
        position: absolute;
        z-index: 9;
        background-color: rgb(229, 156, 186);

    }

    #paragraphs{
        display: block;
    }

    #left{
        height: 40vh;
        width: 100vw;
        text-align: center;
        font-size: 20px;
    }

    #left h1{
        margin-top: -10vh;
    }

    #right{
        margin-top: -10vh;
        height: 40vh;
        width: 100vw;
        text-align: center;
    }

    #right span p{
        margin-top: 50px;
    }


    #right p{
        margin-bottom: 5vh;
    }

    #page3{
        margin-top: 30vh;
    }

    .child img{
        height: 30vh;
        width: 40vw;
    }

    #page4{
        height: 60vh;
        margin-top: -25vh;
    }

    #page4 h1{
        font-size: 30px;
    }

    #page4 button{
        margin-top: -1vh;
        margin-left: 28vw;
    }

    #coloms{
        display: block;
    }

    #col1{
        padding-top: 25vh;
        width: 100%;
        text-align: center;
    }

    #col2{
        margin-top: -95vh;
        width: 80vw;
    }

    #col2 img{
        height: 50vh;
        width: 70vw;
        margin-left: -20vw;
    }

    #col3{
        margin-top: -80vh;
        margin-left: 45vw;
        width: 80vw;
    }

    #col3 img{
        height: 50vh;
        width: 50vw;
    }

    #col2{
        margin-left: 5vw;
    }

    #email{
        margin-top: -15vh;
    }
    #email h1{
        font-size: 30px;
    }


    #follow1{
        display: none;
    }

    #follow3{
        display: none;
    }

    #follow2 img{
        margin-top: 3vh;
        margin-left: 10vw;
    }


}